<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo Scraper</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  </head>
</head>
<body>

  <nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Mongo Scraper</a>
					</div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
							<li><a id="saved" href="/saved">Saved Articles</a></li>
						</ul>
						<form class="navbar-form navbar-left" action="/api/fetch" method="get">
							<button class="btn scrape">Scrape New Articles!</button>
						</form>
				</div>
			</nav>
			<div id="imageHolder">
       
    <div class="caption"> 
        <h1 class="title"> Mongo Scraper </h1>
        <p class="nyt"> New York Times Edition </p>
    </div>
				
			</div>


    {{{ body }}}

    <footer class="footer">
    <div class="container">
        <p> New York Times Mongo Scraper </p>
        <a href="https://github.com/elizabethbodzy/all-the-news"> Mongo Scraper Github </a>
    </div>
</footer>
    
</body>
</html>

